.App {
  text-align: center;
  /* display: flex;
  justify-content: space-between; */
  border: 1px gray;
}

.Btn {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.flexContainer {
  display: flex;
}

div.tile {
  display: inline-block;

  background-color: #555;
}

.tile {
  white-space: pre-line;
  margin: auto;
  position: relative;
  width: 200px;
  height: 50vh;
  top: 50px;
  flex-basis: 40%;
  resize: none;
}
